{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<canvas class="drawing__board"></canvas>
<div class="controls">
    <div class="brush__controls">
        <div class="brush__color" data-active="0">
            <input type="color" id="brush__color" name="brush color"
           value="#000000">
           <input type="text" name="unsupported color" id="unsupported__color">
           <label for="brush color">color</label>
        </div>
        <div class="brush__width">
            <input type="range" min="1" max="100" value="10" name="brush width" id="brush__width">
            <label for="brush width">Stroke width</label>
        </div>
    </div>
    <div class="board__controls">
        <div class="board__clear">
            <button class="clear__btn">Clear</button>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    
    var socket = io();
    
    window.addEventListener('load', () => {
        let imgCont = document.createElement("img");
        canvas.appendChild(imgCont);

        /*socket.on("hello", (arg) => {
            console.log(arg);
        });*/
        
        /*setInterval(function (e){
            //sending canvas as image to the server
            socket.emit("sendLinesToServer", canvas.toDataURL());
        }, 7);*/
        
        socket.on("getLinesFromServer", (canvasData) => {
            context = canvas.getContext("2d");
            imgCont.src = canvasData;
            setInterval(context.drawImage(imgCont, 0, 0), 200);
        });
        //setInterval(socket.on("sendlines", canvasCtx), 200);
    });
</script>
      
