canvas {
    border: 1px solid var(--offwhite);
    margin: 0 auto;
    display: block;
    border-radius: var(--border-radius);
    background-color: var(--offwhite)
}
.controls {
    background-color: var(--dark-highlight);
    border-radius: var(--border-radius);
    padding: var(--rg-padding);
    color: var(--offwhite);
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    border: 1px solid var(--offwhite);
    margin-bottom: var(--rg-padding);
}
.controls__title {
    text-align: center;
}
.user__chat {
    border-radius: var(--border-radius);
    border: 1px solid var(--offwhite);
    overflow: hidden;
}
.messages {
    min-height: 350px;
    max-height: 350px;
    background-color: var(--dark-highlight);
    color: var(--offwhite);
    padding: var(--rg-padding);
    list-style-type: none;
    overflow-y: scroll;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.messages::-webkit-scrollbar {
    width: var(--border-radius);
}
.messages::-webkit-scrollbar-track {
    background: var(--scroll);
}
.messages::-webkit-scrollbar-thumb {
    background-color: var(--offwhite);
    border-radius: var(--border-radius);
    border: var(--border-radius) solid var(--offwhite);
}
#message__input {
    background-color: var(--active-blue);
    color: var(--offwhite);
    padding: var(--rg-padding);
    width: 100%;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
#message__input::placeholder {
    color: var(--offwhite);
}